//import font Open Sans
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/opensans/v34/mem5YaGs126MiZpBA-UN_r8OXOhs.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/opensans/v34/mem8YaGs126MiZpBA-UFVZ0b.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/opensans/v34/mem5YaGs126MiZpBA-UNirkOXOhs.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/opensans/v34/mem5YaGs126MiZpBA-UNjrsOXOhs.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/opensans/v34/mem5YaGs126MiZpBA-UN7rgOXOhs.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/opensans/v34/mem5YaGs126MiZpBA-UN8rsOXOhs.woff2') format('woff2');
}

//import font Be Vietnam Pro
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/bevietnampro/v11/QdVUSTchPBm7nuUeVf70viFlV1hy4PFeF9_MdMdp.woff2') format('woff2');
}

@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/bevietnampro/v11/QdVUSTchPBm7nuUeVf70viFlV1hy4PFeF-PMdMdp.woff2') format('woff2');
}

@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/bevietnampro/v11/QdVUSTchPBm7nuUeVf70viFlV1hy4PFeFzvMdMdp.woff2') format('woff2');
}

@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/bevietnampro/v11/QdVUSTchPBm7nuUeVf70viFlV1hy4PFeF0_MdMdp.woff2') format('woff2');
}

@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/bevietnampro/v11/QdVUSTchPBm7nuUeVf70viFlV1hy4PFeF1PMdMdp.woff2') format('woff2');
}
