* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

//import fonts
@import 'fonts';

//import header
@import 'header';

//import footer
@import 'footer';

// import main layout
@import 'main_layout';
